</div>
</body>


<footer class="text-center" style="position: absolute;
width: 100%;
height: auto;
bottom: 40px;
left: 0;">
    &copy; <em id="date"></em>Great Vibes Pvt. Ltd | 2022-23
</footer>

</html>