</div>
</body>


<footer class="text-center" style="position: absolute;
width: 100%;
height: auto;
bottom: 10px;
left: 0;
background-color: rgb(1, 5, 9);
color: aliceblue;
">
    &copy; <em id="date"></em>Great Vibes Pvt. Ltd. | 2022-23
</footer>

</html>