<%- include('./layouts/header') %>


    <div style="margin-top: 250px; margin-bottom: 500px; background-color: rgb(246, 255, 240);" class="text-center card">
        <h1>Welcome to <b>Great Vibes Pvt. Ltd.</b></h1>
    </div>

    <%- include('./layouts/footer') %>