<%- include('./layouts/header') %>

    <div  style="margin-top: 10px; background-color: rgb(246, 255, 240);" class="text-center card">
        <h2>Welcome to <b>Great Vibes Pvt. Ltd.</b></h2>
        <p class="lead">
            Please login here to access our website's all functionalities.
            <br>
            <a style="margin-top: 10px;" class="btn btn-outline-primary"
                href="http://localhost:8000/api/signup">Signup</a>
        </p>
    </div>

    <%- include('./layouts/footer') %>