<%- include('./layouts/header') %>

    <h3>Home</h3>
    <p  class="lead">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci quia et, omnis voluptates ipsam inventore sed
        eligendi perspiciatis autem voluptatum quos maxime dolorem velit illum explicabo totam nesciunt corrupti
        repudiandae!
        Harum velit possimus veniam et nisi ea placeat mollitia tempore? Harum provident reprehenderit fugit rem sunt
        accusantium accusamus pariatur modi reiciendis molestias? Quod praesentium, sunt est recusandae officia omnis
        perferendis!
        Enim doloribus quas laborum architecto placeat tempore quibusdam animi reprehenderit accusamus possimus, nemo
        molestias, nostrum veniam, laboriosam minima numquam et nihil facilis at. Eius labore natus nesciunt maxime
        perspiciatis. Voluptates?
        Ratione reprehenderit totam fuga temporibus hic consequatur, optio necessitatibus. Adipisci nulla at rem autem.
        Accusamus perferendis vel accusantium quidem porro earum aliquid repellendus fugit, sunt commodi. Ut quisquam
        nemo rem?
        Voluptatum at voluptas fugiat eos perspiciatis, eius aliquam! Cumque, totam iure! Ex laborum harum aliquid,
        praesentium, iusto debitis sit, esse aperiam fugit saepe fuga sunt officia minus nesciunt? Ea, necessitatibus.
        Quisquam dolore, quia vel placeat odio ea voluptate! Fugit saepe necessitatibus inventore praesentium reiciendis
        magni. Consequuntur asperiores sed repellat ratione eius quo nesciunt quam nostrum commodi architecto, odit
        doloribus! Soluta.
        Nam vitae possimus beatae consequuntur earum sequi suscipit pariatur recusandae minus harum, magni sint
        explicabo, deserunt magnam voluptate tempore voluptas in doloribus. Veniam molestias repellendus animi, a modi
        commodi iure.
        Quo, sed. Voluptatibus, facere cupiditate. Vitae cum laboriosam voluptatibus repellendus explicabo delectus
        ipsam adipisci voluptatem labore exercitationem a repellat, magnam cupiditate expedita? Voluptas exercitationem
        quos deserunt sunt ut cumque veritatis.
        Neque a tempore blanditiis molestias libero atque aliquid non hic natus debitis ipsum iste quasi deleniti dolor,
        adipisci omnis quam cupiditate inventore doloremque repudiandae? Repellat tempore sit aut enim excepturi!
        Esse, earum sequi. Consectetur ratione eligendi quam quidem, exercitationem cupiditate maiores sequi odio
        mollitia repellat vero esse facilis nisi unde enim nulla odit. Nulla omnis placeat, error obcaecati magni
        eligendi.
    </p>

    <%- include('./layouts/footer') %>