<%- include('./layouts/header') %>

    <h3>Home</h3>
    <p class="lead text-center" style="background-color: rgb(232, 243, 232)">
        Welcome to Great Vibes Pvt. Ltd.
        Please login here to access our website's all functionalities.
        <br>
        <a style="margin-top: 10px; color: aliceblue; background-color: #05452f;" class="btn btn-outline-primary" href="http://localhost:8000/api/signin">
            Signin
        </a>
    </p>

    <%- include('./layouts/footer') %>