<%- include('layouts/header'); -%>

    <h1 class="text-center">Sign up</h1>

    <form>

        <div class="mb-3 text-center">
            <p class="lead">Already registered? Please click below button to login to our site!</p>
            <a href="http://localhost:8000/api/signin" class="btn btn-outline-primary">Signin</a>
        </div>

        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" required>
            <div class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="email error"></div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <div class="password error"></div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <%- include('layouts/footer'); -%>

        <script>
            const form = document.querySelector('form');
            const emailError = document.querySelector('.email.error');
            const passwordError = document.querySelector('.password.error');

            form.addEventListener('submit', async (e) => {
                e.preventDefault();
                // reset errors
                emailError.textContent = '';
                passwordError.textContent = '';

                // get values
                const name = form.name.value;
                const email = form.email.value;
                const password = form.password.value;

                try {
                    const res = await fetch('/api/signup', {
                        method: 'POST',
                        body: JSON.stringify({ name, email, password }),
                        headers: { 'Content-Type': 'application/json' }
                    });
                    const data = await res.json();
                    console.log(data);
                    if (data.errors) {
                        emailError.textContent = data.errors.email;
                        passwordError.textContent = data.errors.password;
                    }
                }
                catch (err) {
                    console.log(err);
                }

            });
        </script>